<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/bottle.css" />
    <title>Smart bet</title>
  </head>
  <body>
    <div class="header">
      <div class="balance_field"></div>
      <a href="./main.html"><div class="home center">X</div></a>
    </div>

    <div class="bet_button button center">SPIN</div>
    <div class="spin button center">
      <img src="../png/arrows.png" alt="arrows" />
    </div>

    <div class="warning">
      <div></div>
      <div class="green button center">PLAY AGAIN</div>
    </div>

    <div class="control">
      <div class="minus button center">X</div>
      <div class="button center">RATE</div>
      <div class="bet button center">0</div>
      <div class="plus button center">+</div>
    </div>

    <img src="../png/snowcat.png" class="snowcat pers" alt="cat" />
    <img src="../png/buffalo.png" class="buffalo pers" alt="buffalo" />
    <img src="../png/aboba.png" class="aboba pers" alt="aboba" />
    <img src="../png/mery.png" class="mery pers" alt="mery" />
    <div class="c">
      <img src="../png/cardking.png" class="cardking pers" alt="cardking" />
    </div>

    <div class="cf center snowcat"></div>
    <div class="cf center buffalo"></div>
    <div class="cf center aboba"></div>
    <div class="cf center mery"></div>
    <div class="cf center cardking"></div>

    <img src="../png/table.png" class="table" alt="table" />
    <img src="../png/bottle.png" class="bottle" alt="bottle" />

    <script src="../scripts/balance.js"></script>
    <script src="../scripts/bottle.js" type="module"></script>
  </body>
</html>
