<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Smart bet</title>
  </head>
  <body>
    <div class="cover"></div>
    <div class="balance_field"></div>
    <div class="menu">
      <div class="card">
        <img src="../png/aboba.png" alt="aboba" class="aboba" />
        <img src="../png/bottle.png" alt="bottle" class="bottle" />
        <div class="text">FRIENDS PARTY</div>
        <a href="./bottle.html"
          ><div class="play center">
            <img src="../png/play.png" alt="play" /></div
        ></a>
      </div>
      <div class="card">
        <img src="../png/slot_1.png" alt="mask" class="mask" />
        <div class="text">SPIN-WIN</div>
        <a href="./slots.html"
          ><div class="play center">
            <img src="../png/play.png" alt="play" /></div
        ></a>
      </div>
      <a href="./shop.html"
        ><div class="shop">
          <div>CLUB</div>
          <img src="../png/peppers_3_full.png" alt="club" /></div
      ></a>
    </div>
    <script src="../scripts/balance.js"></script>
    <script src="../scripts/main.js" type="module"></script>
  </body>
</html>
