<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/shop.css" />
    <title>Smart bet</title>
  </head>
  <body>
    <div class="cover"></div>
    <div class="header">
      <div class="balance_field"></div>
      <a href="./main.html"><div class="home center">X</div></a>
    </div>
    <div class="card_cont"></div>
    <script src="../scripts/balance.js"></script>
    <script src="../scripts/shop.js" type="module"></script>
  </body>
</html>
