<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/slots.css" />
    <title>Smart bet</title>
  </head>
  <body>
    <img src="../png/left.png" class="pic_left" alt="peppers" />
    <img src="../png/right.png" class="pic_right" alt="peppers" />
    <div class="balance_field"></div>
    <a href="./main.html"><div class="home center">X</div></a>
    <div class="warning">
      <div></div>
      <div class="green button center">PLAY AGAIN</div>
    </div>
    <div class="spin button center">
      <img src="../png/arrows.png" alt="arrows" />
    </div>
    <div class="bet_button button center">SPIN</div>
    <div class="slot_back">
      <div class="slot_cont"></div>
    </div>
    <div class="control">
      <div class="minus button center">X</div>
      <div class="button center">RATE</div>
      <div class="bet button center">0</div>
      <div class="plus button center">+</div>
    </div>

    <script src="../scripts/balance.js"></script>
    <script src="../scripts/slots.js" type="module"></script>
  </body>
</html>
