@font-face {
  font-family: "Eczar";
  src: url("../Eczar.ttf");
}

body {
  background-image: url("../png/back.png");
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Eczar";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: #fff;

  overflow: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #fff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.home {
  width: 55px;
  height: 45px;

  background: linear-gradient(180deg, #a51919 0%, #f91f1f 100%);
  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}

.play {
  position: absolute;

  width: 70px;
  height: 70px;
  background: linear-gradient(180deg, #37c620 0%, #17a500 100%);
  border: 5px solid #ffffff;
  border-radius: 50%;

  transition: transform 0.5s ease;
}

.play.anim {
  transform: rotate(360deg);
}

.balance_field {
  width: 152px;
  height: 40px;

  display: flex;

  background: #000000;
  opacity: 0.8;
  border: 3px solid #ffffff;
  border-radius: 12px;
}

.balance {
  width: 70%;
  text-align: center;
  color: #fff;

  transition: color 0.5s ease;
}

.balance.anim {
  color: #37c620;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.cf {
  width: 95px;
  height: 46px;

  background: #004ec4;
  opacity: 0.8;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 12px;

  transition: box-shadow 0.5s ease;
}

.cf.anim {
  box-shadow: inset 0 0 5px #fff;
}

.control {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 10px auto auto;
}

.button {
  background: #000000;
  opacity: 0.8;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 12px;

  width: 95px;
  height: 46px;
}

.plus,
.minus {
  height: 46px;
  width: 46px;
}

.minus {
  background: #980000;
}

.plus {
  background: #669e0b;
}

.spin {
  width: 85px;
  height: 85px;
  border-radius: 50%;

  position: absolute;
}

.spin img {
  width: 60px;
  height: 60px;
}

.bet_button {
  position: absolute;
}

.warning {
  position: absolute;
  z-index: 2;
  left: -50%;
  top: 25%;
  transition: left ease 0.5s;

  width: 50%;
  height: 50%;
  background: linear-gradient(180deg, #303030 0%, #292929 100%);
  border-radius: 12px;

  text-align: center;
  font-size: 24px;
}

.warning .button {
  margin: 20px auto;
  background: #669e0b;
  border-radius: 12px;
  width: 65%;
  height: 59px;
  line-height: 59px;
}

.spin.active {
  box-shadow: inset 0 0 5px #fff;
  animation: rotate linear 2s infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
